/* sizing.css */
:root {
    --sidebar-width: 15%;
    --main-content-width: calc(100% - var(--sidebar-width))
}
#sideBarBtn{
    transform: scale(2.5);
}
.page-wrapper {height: 100vh;}
.side-bar {
    width: var(--sidebar-width);
    transition: all 130ms ease;
}
.topic header>.topic-title{
    width: 100% !important;
}
.main-content {
    /* Without This width: below, main-content expands full width window when .page-wrapper.collapsed  */
    width: calc(100% - var(--sidebar-width));
}
.main-landing-page {
    height: 100vh;
}
.topic header>.topic-title{
    text-wrap: none;
    width: 100%;
    display: inline-block;
    /* border: 2px solid blue; */
}

